@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin: 0 auto;
}
/* Navbar */
.navbar-area {
  position: absolute;
  background: transparent;
  z-index: 2;
  left: 0;
  right: 0;
}
.navbar-start {
  width: 100%;
  justify-content: space-between;
}
.dropdown .dropdown-content {
  right: 0;
}
.navbar-area ul li a::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0%;
  background: #4eb92d;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.navbar-area ul li:hover a::before {
  width: 100%;
}
.navbar-area ul li a {
  font-weight: 600;
}
.navbar-area ul li:hover a {
  background: none;
  color: #4eb92d;
}

/* My button */
.banner-btn {
  margin-top: 25px;
}
.my-button {
  display: inline-block;
  font-weight: 500;
}
.my-button a {
  padding: 10px 35px;
  display: block;
  background: linear-gradient(to right, #9fcb22, #359d08);
  /* background: linear-gradient(to right, #ff2200, #ff7600); */
  border-radius: 20px;
  transition: 0.3s;
}
.my-button a:hover {
  /* background: linear-gradient(to right, #ff2200, #ff7600); */
  background: linear-gradient(to right, #9fcb22, #359d08);
  color: #fff;
  display: inline-block;
  transition: all 300ms ease;
  transition: 0.3s;
  border-radius: 0;
}
.banner-btn > :first-child {
  margin-right: 20px;
}

/* Banner */
.banner-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 600px;
  padding-left: 10px;
}
.banner-content h5 {
  font-size: 25px;
  color: #4eb92d;
  font-weight: 600;
}
.banner-content h2 {
  font-size: 70px;
  font-weight: 600;
  line-height: 1.1em;
  padding: 20px 0;
}
.banner-content p {
  font-size: 24px;
}

/* Page not found */
.not-found-area {
  min-height: 800px;
}

/* Products */
.all-products .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding-top: 20px;
}
.single-product .card {
  border-radius: 8px !important;
  border: 3px solid #ebe5da;
  padding: 8px;
  width: 100%;
  min-height: 510px;
}
.single-product .card figure {
  background: #faf7f2;
  min-height: 400px;
  /* position: relative; */
}
.single-product .card-body {
  border-radius: 50% 50% 0 0;
  margin-top: -80px;
  background: #fff;
}
.card-title {
  margin-top: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.rating-star {
  display: flex;
  justify-content: center;
}
.rating-count {
  font-size: 13px;
  font-weight: 400;
  color: #666;
  border-left: 1px solid #ebe5da;
  padding-left: 10px;
  margin-left: 10px;
}
.price {
  text-align: center;
  color: #4eb92d;
  font-weight: 700;
  font-size: 18px;
  margin-top: 5px;
}
.cart-btn button {
  border: 2px solid #4eb92d;
  background: transparent;
  padding: 6px 30px;
  font-size: 14px !important;
  transition: all 400ms ease-in-out 0s;
  display: flex;
  align-items: center;
}
.cart-btn button:hover {
  background: #4eb92d;
  color: #fff;
  transition: 0.3s;
  transition: all 400ms ease-in-out 0s;
  letter-spacing: 1px;
  border-radius: 0px;
  padding: 6px 45px;
}
.cart-btn button svg {
  margin-right: 5px;
}

/* Modal */
.modal-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-top: 20px;
}
.modal-box {
  max-width: 1000px;
}
.modal-image img {
  border: 1px solid #ebe5da;
  border-radius: 10px;
  padding: 30px;
}
.modal-content {
  margin-left: 30px;
}
.modal-content h2 {
  font-size: 30px;
  line-height: 35px;
}
.modal-content .rating-star {
  justify-content: left;
  margin-top: 15px;
}
.modal-content .price {
  text-align: left;
  font-size: 40px;
}
.category span {
  color: #4eb92d;
}

/* Search bar */
.search-bar {
  text-align: center;
}
.search-bar input {
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid #4eb92d;
  padding: 10px 15px;
  height: 50px;
  width: 300px;
}
:focus-visible {
  outline: none;
}
.search-btn {
  background: #4eb92d;
  height: 50px;
  padding: 10px 20px;
  color: #fff;
  position: absolute;
  transition: 0.3s;
  border: 1px solid #4eb92d;
  color: #fff;
}
.search-btn:hover {
  padding: 10px 30px;
  background: #4eb92d;
  color: #000;
}
